/*
COLORS
LightGreen : #7ed56f, rgba(126, 213, 111, 1)
MediumGreen : #55c57a, rgba(85, 197, 122, 1)
DarkGreen : #28b485, rgba(40, 180, 133, 1)

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999
*/
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light: #f7f7f7;
$color-gray-light-2: #eee;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-site: 1.6rem;

//GRID variables
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
