.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/hero.jpg"); /* gradiandt će ići na desno-dolje preko slike */
  background-size: cover; /* postavlja sliku da prekrije čitav element i scala se sa tim elementom */
  background-position: top; /* top, bottom, center */
  /* slika će uvijek biti na vrhu i prikazivati se od vrha prema dolje, te vrh se neće mutirati. u slučaju malog ekrana dno se mutira i mijenja*/

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* kordinate(x y, x y, x y, x y) određuju kakav će biti oblik objekta na koji je postavljen polygon */
  &__logo-box {
    position: absolute;
    top: 6rem; /* top i left računaju udaljenost od relative position parenta */
    left: 6rem;
  }
  &__logo {
    height: 3.5rem;
  }
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-47%, -50%);
    /* pozicija je relativna na parent, te nakon što pomaknemo kontenjer dolje i desno za 50%, 
    da bi sadržaj tog kontenjera došao u centar 
    moramo njega šiftati relativno prema njemu pa koristimo transform translate
    Naravno uvijek je responsivno prema screenu */
    text-align: center;
  }
}